# **Introduction to Python**
## **Modern Theory of Detection and Estimation** (Fall 2022)
### **Academic year 2022/2023**

------------------------------------------------------
The original version was prepared for *Master in Information Health Engineering* by:

*Harold Molina Bulla (h.molina@tsc.uc3m.es)*,
*Vanessa GÃ³mez Verdejo (vanessa@tsc.uc3m.es)* and
*Pablo M. Olmos (olmos@tsc.uc3m.es)* 

------------------------------------------------------

# What is Python?

From wikipedia: "Python is a widely used general-purpose, high-level programming language. Its design philosophy emphasizes code readability, and its syntax allows programmers to express concepts in fewer lines of code than would be possible in languages such as C++ or Java. The language provides constructs intended to enable clear programs on both a small and large scale."

To easily work with Python from any computer we can use [Google Colaboratory tool](https://colab.research.google.com/notebooks/welcome.ipynb), which provides a free envoriment to run Python Jupyter notebooks.  

Throughout this tutorial, students will learn some basic characteristics of the Python programming language, as well as the main characteristics of the Python notebooks.

# Work environment: Jupyter and Google Colab

To start working with Python we are going to use the Jupyter work environment, since it allows us to execute code in a simple way and integrate code, text, figures... into the same document.

A Jupyter notebook (or simply, notebook) is made up of a set of cells. When defining each cell we indicate if it is text (like the cell we are in now) or code. The Google colab environment allows us to easily add new cells with the *+ CODE* and *+ TEXT* buttons that are displayed on the toolbar or when you move the cursor between cells.

When we are in a cell we can do two things:
* **Edit**. We can enter a cell by selecting it and pressing Enter. This allows us to modify the content of the cells, as if it were a text editor. Yes, we are:
  * In a **text type cell**, Google Colab shows us on the right how the content we are writing will be displayed. In addition, Jupyter uses a syntax known as markdown, which allows us to define headers, format the text, etc. and even allows us to include equations inside cells using the syntax of [LaTeX ] (http://www.latex-project.org/). For example, by typing `$ \ sqrt {3x-1} + (1 + x) ^ 2 $` we will see $\sqrt {3x-1} + (1 + x)^2.$
  * In a **code type cell**, we can write several code sentences and then execute them together, define functions, libraries, etc. 

* **Execution**. This allows us to view (format) the content of a cell of type text or execute code contained in the cell. To execute a cell, we will do *Control + Enter*, or if we want to automatically go to the next one after executing it, we can do *Shift + Enter*.
To find out when a **cell of code** has been executed, we can look at the cell header:
  * If only `[ ]` appears, it has not been executed yet.
  * If what we have is `[*]`, then it is in the process of execution.
  * If a number appears in the brackets, you have finished executing.

## Integration with Google Drive

Another feature of Google Colab is that it is integrated with Google Drive. It allows you to share, comment, and collaborate on the same document with multiple people:

* The **Share** button (top right of the toolbar) allows you to share the notebook and control the permissions set on it.

* **File-> Save a copy in Drive** creates a copy of the notebook on the drive.

* **File-> Save** saves the file to the drive. 

* **File->  Save and pin revision** allows you to see what revised, who made the revision, compare two revisions and revert to another revision if necessary. Since the revision history is by default not permanent, if we want to save a revision permanently, it is necessary to select this option.

* **File-> Revision history** shows the revision history of the notebook.

Also, if we are going to work collaboratively, we can include comments in the cells that help us work as a team. To do this, in each cell, in the upper right part, it gives us the option to include a comment just like in a Google Docs document.

# Getting started with Python: Numbers

### Basic operations

To start working with Python we can use it to do basic numerical operations, using a syntax similar to that of a calculator. That is, we write numbers, we apply operations `('+', '-', '*', '/')` to them and we obtain a result. The following lines of code show some examples:

In [40]:
2 + 2

4

In [41]:
2-2

0

In [42]:
2*10 / 5

4.0

We can use parentheses to group operations

In [43]:
(3+4)*2

14

We can also use the equal sign "=" to assign the result of an operation to a variable to have it stored for later use. For example:

In [44]:
width = 10  
length = 2 * 3 
area= width * length

The **variables** are containers for storing the data values. Unlike other programming languages, Python does not have a command to declare a variable, but rather a variable is created the moment it is first assigned a value.

If we want our code to be more readable, we can include **comments** using the `#` symbol before the text string with our comment. For example:

In [45]:
width = 10    # Assing the value 10 to variable width
length = 2 * 3  # Compute the value of variable length 2 and 3
area= width * length  # The area is the product of width and length

### Print function

In these examples, we have not obtained any result by screen because the result of the operation is stored in the variable. But we can use the `print()` function to see the value of the calculated `area` on the screen as shown below:

In [46]:
print('The area is:', area)

The area is: 60

In the case of working in Python notebooks, if we only put the name of the variable and it is in the last line of a cell, its value is also returned by screen. Compare the following two code cells:

In [90]:
width
length
area;

In [48]:
print(width)
print(length)
area

10
6

60

### Type of data

A very important aspect of variables is the **type of data** that they are. In the case of working with numerical variables we can find two main types:
* Integer numbers (**int**): As its name indicates, this type is associated with numeric variables without decimals. For example: 2, 4, 0, -1.
* Floating point numbers (**float**): This data type is reserved for numeric values with decimal part. For example: 0.2, 4.0, -2.2, ...

*Note: Python also supports other types of numbers, such as Decimal and Fraction. Python also has built-in support for complex numbers, and uses the j or J suffix to indicate the imaginary part (e.g. 3+5j).*

To know the data type of a variable, we can use the `type ()` function. Look at the following examples: ...

In [91]:
type(2)

int

In [50]:
type(2.0)

float

In [51]:
type(width)

int

Adding a dot `.` to an integer value, as in `1.` or `1.0`, makes Python interpret the object as a *float*. Also, when operations are performed and one of the elements is a float, the result is also a float.

Now that we know what data types are, and what types we can find with numeric variables, let's continue doing operations with Python.

In [52]:
# Divide 4 by 3
result1 = 4/3

# Divide 8 by 4
result2 = 8/4

What type do you think the variable `result1` is? And the variable `result2`?

In [53]:
print('Result1 is type: ', type(result1))
print('Result2 is type: ', type(result2))

Result1 is type:  <class 'float'>
Result2 is type:  <class 'float'>

The operator `/` always returns a type *float*. To divide between two numbers and obtain an integer value (discarding the decimal part) you can use the operator `//`, and to calculate the remainder of the division you can use the  operator `%`. For example

In [54]:
print(10 / 3)  # standard division (returns a float)
print(10 // 3)  # division excluding the decimal part
print(10 % 3)   # Get the remainder of the division

3.3333333333333335
3
1

Within the basic operators, Python also includes the power `**` NOT `^`.

In [55]:
print(3 ** 2)  # 3 raised to 2
print(2 ** 10)  # 2 raised to 10

9
1024

### Summary of basic operators summary
| Operator      | Example 
| -----------| ----------- |
|`+`: Addition|  `x + y` |	
| `-`:  Subtraction | 	`x - y` |	
| `*`:  Multiplication |	`x * y`|
| `/`:  Division |	`x / y` |	
| `%`:	Remainder |	`x % y` |	
| `**`: Exponentiation |	`x ** y` 	|
| `//`: Floor division |	`x // y`|

### Value assigment operators

Python have various compound operators. For example:

In [56]:
a = 3
a += 5
a

8

With the symbol `+=` we get to add an incremental adding. Note that this is the same as

In [57]:
a = 3
a = a + 5
a

8

We can do the same with many other operators. For example:


| Operator      | Example | Same As  |
| ----------- | ----------- |----------- |
| +=      | x += 3 	| x = x + 3 |
|  -=  |	x -= 3 |	x = x - 3 	|
| *= 	|  x *= 3 |	x = x * 3 	|
| /= 	|x /= 3 |	x = x / 3 	|
| %= 	|x %= 3 |	x = x % 3 	|
| //= |	x //= 3 |	x = x // 3 |	
| **= |	x **= 3 	| x = x ** 3 |

For slightly more complex operations, certain predefined math functions are also available. For example:

 * `math.sqrt(x)` returns the square root of a number.
 * `math.pow(x, y)` raises one real number to another.
 * `math.log(x)` calculates the natural logarithm of a number.
 * `math.exp(x)` calculates the exponential of a number.
 * `math.cos(x)` calculates the cosine of a certain angle, measured in radians.
    
There is also `math.sin()` for the sine and `math.tan()` for the tangent, as well as `math.acos()`, `math.asin()`, and `math.atan()` for the arccosine, arcsine, and arctangent.

There is also some constant that can simplify life: `math.pi` represents the number "PI" (3.14159265359) and `math.e` represents the number "e", the base of natural logarithms.

To use these functions, our program must start with `import math` (we will see this later but with this line we can use library functions). For example, this would be a program that calculates the square root of the number that we indicate in the variable `n`.

In [58]:
import math
n = 9
print (math.sqrt(n))

3.0

## **Exercises**

Once we know how to operate with numbers in Python, we are going to solve the following exercises.

**Exercise 1**

Define the following variables:
* `net_price`: it will be the net price of a product and, please, initialize it to 750.
* `tax`: it will be, as a percentage, the VAT applied to this product and, please, initialize it to 21.

Now, from the previous two variables, **calculate the final price of the product** and store that value in the variable `final_price` and print it.

**Solution**

In [96]:
#To fill in...
net_price = 750
tax = 0.21
net_price *= 1 + tax
net_price

907.5

**Exercise 2**

2.1 Define a variable `x` and assign it the value of 5.

2.2 From the variable `x`, a new variable` y` is generated through the following transformation:

$ \displaystyle y = \frac{x}{2} * \exp (x ^ 2) + 1 $

Program the lines of code needed to calculate `y` from` x`. What value does `y` take when` x` is 5? What if `x` is 10?

### Solution

In [101]:
#To fill in...
import math
x = 5

y = x/2 * math.exp(x**2) + 1
print(y)

x = 10

y = x/2 * math.exp(x**2) + 1
print(y)

180012248344.4647
1.3440585709080678e+44

# Booleans in Python

Boolean data types indicate one of two values: True (`True`) or False (` False`). They are very useful in programming, since you often need to know if an expression is true or false. For example, if we compare two values, the expression is evaluated and Python returns the response with a boolean type:

In [102]:
print(10 > 9)
print(10 == 9)
print(10 != 9)
print(10 < 9)

True
False
True
False

In [103]:
print(type(10 > 9))

<class 'bool'>

## Operators for comparison of values and identities

In order to be able to compare values, as in the previous example, we need operators that perform these comparisons or check if an identity is verified.

If we want to compare the values of the variables `x` and` y`, in Python we have the following operators:
* `==` Same: `x == y`
* `!=` Not equal: `x != Y`
* `>` Greater than: `x > y`
* `<` Less than: `x < y`
* `>=` Greater than or equal to: `x >= y`
* `<=` Less than or equal to: `x <= y`

### Logical operators

Logical operators allow you to combine the results of multiple comparisons. In this way, we can propose logical operations of the type: Is `x` greater than 5 and less than 10?

For this we have the operators:
* `and` (` & `): returns` True` if both conditions are met at the same time
* `or` (` | `): returns` True` if any of the conditions is met

**Exercise 3**

Analyze the following examples, trying to vary the value of `x` and trying to guess the result of the different logical operations.

In [63]:
x= 6
print((x<5) and (x>2))
print((x<5) & (x>2))

False
False

In [64]:
x= 3
print((x<5) or (x>2))
print((x<5) | (x>2))

True
True

In [65]:
x= 4
print((x<5) and (x>2) or (x>10))

True

# Working with text strings

The basic data type for representing text in Python is the *string*. A string object is generally defined by assigning to a variable a text string defined between single (`'`) or double (`"`) quotation marks or by converting another type of data (such as numeric) to a string using the  function  `str()`.

In [111]:
# Define string variables
t1='This is a string'
print(t1)
t2 ="t2 too!"
print(t2)

This is a string
t2 too!

In [112]:
# Convert a number to string
n = 500
print(n)
print(type(n))
n_string = str(n)
print(n_string)
print(type(n_string))

500
<class 'int'>
500
<class 'str'>

##Â Methods of the string object

Python is generally considered a good choice when it comes to working with text files of any type and size, since the string object has a large number of built-in methods that make it easy to work with them.

We will see later what **Python objects** are, how to define and create our own objects with the methods and attributes that we want to include them. For now, we will settle for using the predefined objects in Python (such as the string object) and accessing their methods and/or attributes.

So far, we need to know:
* To use the methods of a `my_object` object, always use the syntax `my_object.method()`

* If we want to know what methods an object has in Google Colab, we can write `my_object` and wait, and Google Colab produces a list of all the methods available for that object.

* All methods of the string object return a new value as output. The original string is not modified.

Some of these methods are:

* `.capitalize ()`: converts **just** the first letter of the string to uppercase.

In [113]:
t1.capitalize()

'This is a string'

* `.upper()` / `.lower()`: converts all characters in the text string to upper / lower case.

In [114]:
t_upper = t1.upper()
print(t_upper)
t_lower = t_upper.lower()
print(t_lower)

THIS IS A STRING
this is a string

* `.replace ('s1', 's2')`: replaces the characters `'s1'` in a string with the character`' s2'`.

In [117]:
t1.replace(' ', ',') #replace x chars with y chars
t1.replace('s', '5')

'Thi5 i5 a 5tring'

* .`find ('s') `: inside the string it looks for the string `'s'` and gets its position from the first letter of the word. In case of not finding it, it returns a `-1`.

In [71]:
t1.find('string')

10

In [72]:
 t1.find('word')

-1

* `.split ('s')`: splits the text into several strings using the character `' s'` as separator.

In [118]:
# Split by the character 'i'
print(t1.split('i'))
# Split by the character ' ' (blank space)
print(t1.split(' '))

# If a splitter character is not provided, by default, the blank space is used
print(t1.split())

['Th', 's ', 's a str', 'ng']
['This', 'is', 'a', 'string']
['This', 'is', 'a', 'string']

*Note that when applying the `.split()` method, the separator character `s` disappears from the resulting strings. And furthermore, the result of the method is a list with several elements where each element is a string. We will see later what a list is in Python and how to operate with them.*

You can find a list of all available methods of string objects at [this link](https://www.w3schools.com/python/python_ref_string.asp)

### Length of a string
To get the length of a string, use function `len ()` .

*Note: `len ()` is a Python function, shared with other data types, it is not unique to strings. For this reason, **it ist not** is a method of string objects and its syntax is not `string.len` but `len(string)`.*

In [119]:
mystring = "Hello everyone!"
len(mystring)

15

### Check if a string is present or not
You can use the keywords `in` or` not in` to check whether or not a certain phrase or character is present within a string. These keywords are logical operators, so they return a Boolean value (`True` or` False`).

In [75]:
"everyone" in mystring

True

In [76]:
"everyone" not in mystring

False

In [77]:
"everybody" in mystring

False

## String indexing

Strings are like arrays of characters, where each character is simply a string with a length of 1. So the elements of the string can be accessed in several ways:
* We can recover a single character using square brackets and indicating the specific position of a character to recover. For example, `my_string[position]` would return the character located at `position` within the string ` my_string`.
* To obtain a part of a chain we can indicate the start and end positions (`[start:end]`). The returned string will start at the character at the `start` position (included) and will end at the position given by `end`, but the latter will not be included.

In addition, it can be indexed backwards with negative indices and if the starting position is not included, it is assumed that this is the first and if the final position is not included it is assumed to be the last.

**Important**: in Python the indexing starts at 0!!! That is, the first element is in position 0.

###Â Exercise
Analyze the following code and try to guess what it returns before executing it

In [120]:
mystring = "Hello everyone!"

In [121]:
mystring[0]

'H'

In [124]:
begin = 1
end = 6
mystring[begin:end] #does not include "end" position

'ello '

In [81]:
mystring[:5]

'Hello'

In [82]:
mystring[8:]

'eryone!'

In [83]:
mystring[-1]
mystring[-3:-1] #does not include position -1
mystring[-3:]

'ne!'

In [84]:
mystring[-6:]

'ryone!'

## String concatenation

Two or more text strings can be concatenated or combined with the symbol `+`.

In [85]:
t1="Hello"
t2="everyone"
t1+t2

'Helloeveryone'

In [86]:
t1+" "+t2

'Hello everyone'

In [125]:
t1 +" " + t2 + "!"

'This is a string t2 too!!'

And... Can we combine text and numbers? Let's try it!

In [126]:
result = 5 + 2
"The result is: " + result

TypeError: can only concatenate str (not "int") to str

As we can see, it provides an error!!! This is because we can only concatenate  strings with strings. If we want to do this, we will have to pass the variable `result` to string with the function `str() `.

*Note: Observe how Google Colab formats the error output, indicating exactly the line where it fails and the type of error `TypeError: must be str, not int`. Also, it provides a link to search for this error on Stack Overflow and find possible solutions*.

In [ ]:
result = 5 + 2
"The result is: " + str(result)

**The Escape Character**

To insert characters that are illegal in a string, use an escape character. An escape character is a backslash `\` followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [ ]:
txt = "We are the so-called "Vikings" from the north."

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

Some common illegal characters that we can use with the backslash are: 
* `\'` Single Quote 	
* `\\` 	Backslash 	
* `\n` 	New Line 	
* `\r` 	Carriage Return 	
* `\t` 	Tab 	
* `\b` 	Backspace 	
* `\f` 	Form Feed

**Exercise:** Complete the following exercises:

str1 -> "Hola" is how we say "hello" in Spanish.

str2 -> Strings can also be defined with quotes; try to be sistematic and consistent.

* Print the string `str1` and check its type

In [129]:
# To fill in...
str1 = "\"Hola\" is how we say \"hello\" in Spanish."
print(str1)

str2 = "Strings can also be defined with quotes; try to be sistematic and consistent."

 "Hola" is how we say "hello" in Spanish.

* Print the first 5 characters of `str1`

In [139]:
# To fill in...
print(str1[:5])

 "Hol

* Join `str1` and `str2`

In [136]:
# To fill in...
str1 + " " + str2

' "Hola" is how we say "hello" in Spanish. Strings can also be defined with quotes; try to be sistematic and consistent.'

* Convert `str1` to lowercase.

In [ ]:
# To fill in...

* Convert `str1` to capital letters.

In [ ]:
# To fill in...

* Get the number of characters in `str1`

In [ ]:
# To fill in...

* Replace the characters `h` in `str1` by the character `H`

In [ ]:
# To fill in...

## Logical conditions in Python: If ... Else
As previously mentioned, Python supports the usual logical conditions of mathematics, which allows us to answer questions like:
* Are `a` and` b` the same ?: `a == b`
* Are not `a` and` b` the same ?: `a! = b`
* Is `a` less than` b` ?: `a <b`
* Is `a` less than or equal to` b` ?: `a <= b`
* Is `a` greater than` b` ?: `a> b`
* Is `a` greater than or equal to` b` ?: `a> = b`

These logical conditions can be used in combination with the `if... else...` keywords to perform different operations based on the result of the condition. For example, we can define two variables, `a` and` b`, and write a message on the screen when the condition `a> b` is met

In [ ]:
a = 33
b = 10
if a > b:
  print("a is greater than b")

When executing this code, Python always evaluates the condition (`a>b`) and if the result is `True`, the nested code is executed (`print (...)`); otherwise, this code is not executed.

If we analyze this example we see that to use the `if` statement, there is a specific syntax where the first line begins with the keyword `if` followed by the condition to evaluate (a logical expression); and, the line ends with a colon (:).

After this first line, it comes the code block to execute if the condition is true. Note that this code block must be indented (a tab or 2 or 4 blank spaces at the beginning of a line), since Python uses indentation to recognize the lines that make up a block of instructions (unlike other languages programming using keys). So to finish the block of code that goes inside the condition, it is enough to remove the indentation and rewrite at the beginning of the line.

To better understand this, let's compare the outputs of the following code cells:

In [ ]:
a = 3
b = 10
if a > b:
  print("a is greater than b")
print("I am out of the conditonal if")

If after the `if` statement we do not include any indented lines, Python will return an error:

In [ ]:
a = 3
b = 10
if a > b:
print("a is greater than b")
print("I am out of the conditional if")

Although we can always use the pass keyword if we want to define a condition and not execute anything when it is met.

In [ ]:
a = 3
b = 10
if a > b:
  pass
print("a is greater than b")
print("I am out of the conditional if")

You can combine the `if` statement with the ` else` keyword, `if...else...`, to be able to execute a part of code when the condition is met and another part when it is not.

In [ ]:
a = 3
b = 10
if a > b:
  print("a is greater than b")
else:
  print("a is not greater than b")

What is the difference between the above code and this one?

In [ ]:
a = 3
b = 10
if a > b:
  print("a is greater b")
if a < b:
  print("a is less b")

The differences are several:
* By putting two `if` blocks we are forcing Python to always evaluate both conditions, while in an `if` ... `else` ... block only one condition is evaluated. In a simple program the difference is not appreciable, but in programs that run many comparisons, the impact can be appreciable.
* Using `else` saves us from writing a condition (also, writing the condition we can make a mistake, but writing else cannot).
* Using `if` ... `else` we make sure that one of the two blocks of instructions is executed. Using two ifs it would be possible that neither of the two conditions would be fulfilled and neither of the two blocks of instructions would be executed.

And we can use `if ... else ...` together with `elif`,` if ... elif ... else ... `, if we want to evaluate multiple alternatives. In this case the syntax would be:

In [ ]:
a = 3
b = 10
if a > b:
  print("a is greater than b")
elif a < b:
  print("a is less than b")
else:
  print("a is equal to b")

In fact, you can write as many `elif` blocks as you need. The `else` block (which is optional) and is only executed if none of the above conditions are met.

In [ ]:
a = 10
if a < 5:
  print("a is less than 5")
elif a < 7:
  print("a is less than 7")
elif a < 9:
  print("a is less than 9")
elif a < 11:
  print("a is less than 11")
else:
  print("a does not meet any of the above conditions")

# Loops in Python

Python allows us to repeat the execution of a part of the code iteratively through two types of loops:

* `while` allows repeating the code execution as long as a given condition is met.
* `for` defines by default the number of times the block is to be executed.

Next, we are going to see in detail how each of these structures work.

### While loop

As we have said, this type of loop executes a series of instructions repetitively while a certain condition is verified.

We can see its syntax with the following example:

In [ ]:
a=0
while a<10:
  print(a)
  a += 1
print('We are out of the loop')

The `while` loop evaluates the condition in each iteration and as long as the condition is met, it executes the code inside the ` while`. Note that the syntax is very similar to that of the `if` conditions, since to declare the loop we write the keyword ` while` followed by the condition and end the line with `:`. Then all the lines of code to be executed within the loop will be indented.

Note that as the loop is defined, if we did not modify the value of the variable `a` within the loop, the loop would run indefinitely and would never end.

We can also combine the ` while` loop with the ` else` keyword to execute a specific part of the code when the condition is not verified

In [ ]:
a=0
while a<10:
  print(a)
  a += 1
else:
  print('a is not less than 10')
print('We are out of the loop')

We can use the `break` and ` continue` keywords inside the `while` loop to force certain behaviors:
* The `break` keyword forces the loop to exit even though the condition is still met.
* The keyword `continue` allows us to skip the current execution and go to the next iteration of the loop.

Let's look at the following examples:

In [ ]:
a=0
while a<10:
  print(a)
  a += 1
  if a==3:
    print('Forced exit from the loop')
    break
print('We are out of the loop')

In [ ]:
a=0
while a<5:
  print(a)
  a += 1
  if a==3:
    continue
  print('rest of commands')
  
  
    
print('We are out of the loop')

### For loop

As we have indicated, the `for` loops define by default the number of times to iterate. This is because they are defined in such a way that the iterations are performed on a sequence of elements, for example, on the letters of a text string or `string`. Let's see an example:

In [ ]:
myString='This is my string'
for s in myString:
  print(s)

If we analyze the syntax, we see that it is somewhat different from the `while` loop. Now we start with the word `for`, followed by a variable (in the example the variable` s`) that takes a value from the sequence in each iteration; then the `in` keyword is included along with the sequence to iterate over, and finally `:` is included. Then there are the rest of the lines, indented, that are executed in each iteration.

If we want to maintain an index on the number of iterations we are executing, we can use the `enumerate()` function on the sequence of elements, and thus it will return the value of the element in each iteration along with an integer indicating its position or the number iteration. For example:

In [ ]:
myString='This is my string'
for i,s in enumerate(myString):
  print('Iteration: ' +str(i) + ' Value: '+ s)

It is very common to combine the `for` loop with the ` range() `function, since this function returns a sequence of numbers that we can iterate over. Its syntax is as follows:
`range(start_value, end_value, jump)`
which would generate a sequence of values between `initial_value` and` final_value` (the latter would not be included in the sequence) and with increments given by `jump`. For example:

In [ ]:
sequence = range(2,10,3)
for i in sequence:
  print(i)

If we do not define the `jump` by default it is` 1` and if we do not define the `initial_value` by default it is` 0`.

In [ ]:
sequence = range(2,10)
for i in sequence:
  print(i)

In [ ]:
secuence = range(10)
for i in secuence:
  print(i)

We can also combine the `for` loop with the keywords:
* `else` to indicate a piece of code that is executed at the end of the loop
* `break` to get out of the loop even if not all the elements of the sequence have been crossed
* `pass` to not execute anything inside the loop

In [ ]:
sequence = range(10)
for i in sequence:
  print(i)
else:
  print('We are finished')

In [ ]:
sequence = range(10)
for i in sequence:
  print(i)
  if i==4:
    break
else:
  print('we are finished')

In [ ]:
sequence = range(10)
for i in sequence:
  pass
else:
  print('We are finished')

It is quite common to use loops in a nested way, defining a loop within another loop. For example:

In [ ]:
sequence = range(4)
for i in sequence:
  for j in sequence:
    print(str(i)+ ' ' + str(j))

# Data collections in Python

There are four types of collections that allow us to collect or have data grouped in Python:

* The **list** is an ordered and changing collection. Allow duplicate members.
* The **tuple** is an ordered and unalterable collection. Allow duplicate members.
* The **set** is a collection that is neither ordered nor indexed. Does not allow duplicate members.
* The **dictionary** is an unordered, changeable and indexed collection. There are no duplicate members.

When choosing a collection type, it is helpful to understand the properties of that type. Choosing the correct type for a particular data set could mean retention of meaning, and it could mean increased efficiency or security.

##Â Lists in Python

As we have indicated, a list is an ordered collection of elements, that we can modify and that admits repeated elements.
As we will see as we advance with our knowledge of Python, it is one of the most common types when we program, so there are multiple operations that we can do with lists. Here are some examples of the most common.

### Create a list
In Python, lists are written with square brackets. So to create a list, we can simply include a series of elements separated by commas between the brackets:

In [ ]:
myList = ["apple", "banana", "pear", "orange", "lemon", "cherry", "kiwi", "melon", "mango"]
print(myList)

We can define an empty list if we do not include elements

In [ ]:
myEmpty_List = []
print(myEmpty_List)

You can also create a list with the `list ()` constructor

In [ ]:
myList2 =list([ "lemon", "cherry", "kiwi", "mango"])
print(myList2)

### Element indexing
We can access its elements by indexing the list in a similar way to the characters in a string. Analyze the following examples trying to guess the output that we are going to obtain before executing them!

In [ ]:
print(myList[1])

In [ ]:
print(myList[3:5])

In [ ]:
print(myList[:4])

In [ ]:
print(myList[5:])

In [ ]:
print(myList[-1])

In [ ]:
print(myList[-5:-1])

### Check for the presence of an element
We can use the `in` keyword to check if an item is in a list:

In [ ]:
"melon" in myList

In [ ]:
"banana" in myList

### Calculate the length of a list
We can use the `len()` function to calculate the number of elements within the list:

In [ ]:
print(len(myList))

### Concatenate lists
You can use the `+` operator to create a new list by joining the elements of the two lists:

In [ ]:
myUnionList = myList + myList2
print(myUnionList)

### Modifying List Items
We can change the value of an element in the list, accessing it directly:

In [ ]:
myList[1] = "blackberry"
print(myList)

And include a repeating element:

In [ ]:
myList[1] = "apple"
print(myList)

We can add elements to the end of a list using the `append()` method:

In [ ]:
myList.append("strawberry")
print(myList)

Or use the `insert()` method to add an element at a specific position:

In [ ]:
myList.insert(1, "banana")
print(myList)

If we want to remove items from the list, we have several options:

* The `remove()` method removes the indicated element

In [ ]:
myList.remove("pear")
print(myList)

If we have a repeating element, `remove()` only removes it from its first position

In [ ]:
myList.remove("apple")
print(myList)

* The `pop()` method eliminates the element indicated by its index or position (if we do not indicate any index, the last one is eliminated)

In [ ]:
myList.pop(4)
print(myList)

In [ ]:
myList.pop()
print(myList)

* The keyword ``del`` allows us to eliminate an element indicated by its index or even eliminate the entire list if we do not indicate any specific element

In [ ]:
del myList[0]
print(myList)

In [ ]:
myList2 = ['lemon', 'cherry', 'kiwi']
print(myList2)
del myList2
print(myList2)

* The ``clear()`` method allows us to clear the list

In [ ]:
myList2 = ['lemon', 'cherry', 'kiwi']
print(myList2)
myList2.clear()
print(myList2)

##Â Tuples in Python

A tuple is an ordered collection of elements, where repeated elements are allowed, but unlike lists it is unchangeable.

### Create a tuple
To define a tuple in Python we have to use parentheses, include between the parentheses the elements that make up our tuple

In [ ]:
myTuple = ("apple", "banana", "pear", "orange")
print(myTuple)

You can also create a tuple with the `tuple()` constructor

In [ ]:
myTuple2 = tuple(("melon", "banana", "cherry")) # take care about the doble parenthesis
print(myTuple2)

### Element indexing
In the same way as with lists, we can access their elements by indexing the positions of the tuple we want to access. Let's analyze the following examples

In [ ]:
print(myTuple[2])

In [ ]:
print(myTuple[-1:1])

In [ ]:
print(myTuple[-1:4])

In [ ]:
print(myTuple[:-2])

In [ ]:
print(myTuple[-2:])

### Check for the presence of an element
We can also use the `in` keyword to check if an element is in the tuple:

In [ ]:
"melon" in myTuple

In [ ]:
"banana" in myTuple

### Calculate the length of a tuple
We can also use the `len()` function to calculate the number of elements within the tuple:

In [ ]:
print(len(myTuple))

### Concatenate tuples
You can use the `+` operator to join two tuples and create a new one.

In [ ]:
tuple_union = myTuple + myTuple2
print(tuple_union)

### Modifying the elements of the tuple
**Tuples are immutable**, so once a tuple is created, its values cannot be changed, new elements added, or elements removed from the tuple. But there is an alternative solution.

You can convert the tuple to a list with the `list ()` function, change the list and convert the list back to a tuple with the `tuple ()` function.

In [ ]:
# Convert to list
myList = list(myTuple)

# Modify the lista
myList[1] = "blackberry"
print(myList)
print(type(myList))

# Convert the list back to tuple
myTuple2 = tuple(myList)
print(myTuple2)
print(type(myTuple2))

### Tuple Object Methods
Tuples have two predefined methods:
* `count()`: calculates the number of times an element is in a tuple
* `index()`: searches the tuple for a certain element and returns the position of where it was found. If this element is repeated, it returns the first position it is in.

In [ ]:
tuple_union.count('melon')

In [ ]:
tuple_union.count('banana')

In [ ]:
tuple_union.index('banana')

**Exercises with tuples**



1.   Create a tuple of tuples: 
(("apple",1),("banana",1),("apple",2),("melon",1),("pineapple",2),("banana",2)),
where the first element is a fruit, and the second is the number of fruits.
2.   Calculate the number of apples, bananas and melons you have (use `foreach loop` to read each one of the elements, compare with the different fruits and increase the counter associated to each one).

In [ ]:
# To fill in....

##Â Sets in Python

A set is a collection of elements that is not ordered or indexed and in which there can be no repeating elements.

### Create a set
In Python, sets are written with braces. So to create a set we only have to define a series of elements separated by commas between braces:

In [ ]:
mySet = {"apple", "banana", "pear", "kiwi", "melon", "mango"}
print(mySet)

In [ ]:
mySet2 = {"apple", "banana", "pear", "kiwi", "platano", "melon", "mango", "melon"}
print(mySet2)

Let us have a look at two things:
* Items are not kept in the order they have been defined because it is not a collection of ordered items. So you can't be sure in what order the articles will appear.
* If we define repeated elements, only one of them is stored in the set since the set does not allow repeated elements.

You can also create a set with the constructor `set()`

In [ ]:
mySet3 =set([ "lemon", "cherry", "kiwi", "mango", "banana", "pear", "kiwi"])
print(mySet3)

### Element indexing

The items in a set cannot be accessed through an index, because the sets are out of order and the articles have no index.

### Check for the presence of an element
Although the elements are not indexed, we can use the `in` keyword to check if an element is in a set:

In [ ]:
"melon" in mySet

In [ ]:
"cherry" in mySet

### Calculate the length of a set
We can use the `len()` function to calculate the number of elements within the set:

In [ ]:
print(len(mySet))

### Union of sets
 
To join two or more sets in Python you can use the `union()` method that returns a new set containing all the elements of both sets. Note that the common elements in both sets will not be repeated.

In [ ]:
mySet = {"apple", "banana", "pear", "kiwi"}
print(mySet)
mySet2 = {"pear", "kiwi", "melon", "mango"}
print(mySet2)

mySetUnion = mySet.union(mySet2)
print(mySetUnion)

Note that with sets the `+` operator will not work.

In [ ]:
mySetUnion = mySet + mySet2
print(mySetUnion)

### Modifying the elements of a set

Once a set is created, its elements cannot be changed, but new elements can be added.

To add an element to a set, the `.add()` method can be used. If you want to add more than one element to a set, you can use the `.update()` method.

In [ ]:
mySet = {"apple", "banana", "cherry"}
print(mySet)

# Add new element to the set, using the method add():
mySet.add("orange")

print(mySet)

# Add more than one element in a set, using the method update():
mySet.update({"orange", "mango", "grape"})

print(mySet)

If we want to remove elements from a set, we have several options:

* The `remove()` or `discard()` methods remove the indicated element

In [ ]:
# Remove an element from the set using the method remove():
mySet.remove("apple")
print(mySet)

# Remove the element "banana" using the method discard():
mySet.discard("banana")
print(mySet)

If the element to remove does not exist, `remove()` will cause an error.

In [ ]:
mySet.remove("apple")

But if the element to delete does not exist, and we use `discard()`, this method will not cause an error.

In [ ]:
mySet.discard("apple")

* Also remove items using the `pop ()` method. The difference with the previous methods is that we do not indicate which element we want to eliminate and directly eliminates the top element of the set. To find out which element is removed, the `pop()` method returns the value of the removed element.

In [ ]:
print(mySet)
removed_element = mySet.pop()
print(mySet)
print(removed_element)

* With sets we can also use the `clear()` method to clear the set and the `del` keyword to clear the set.

In [ ]:
print(mySet)
mySet.clear()
print(mySet)

In [ ]:
print(mySet2)
del mySet2
mySet2

##Â Python dictionaries 


A dictionary is a collection of unordered, changeable and indexed elements without duplicate entries. 

Dictionaries are written with curly brackets `{` - `}`, and their main characteristic relies in each element has a key to make easier the indexing of the dictionary values. So, each dictionary element is a pair (key-value).

### Create a dictionary
In Python, dictionaries are written with curly brackets and each entry has to be indicated with a pair key-value. For example:

In [ ]:
mydict = {
  "name": "Ana",
  "surname": "GarcÃ­a",
  "age": 25
}
print(mydict)

Note the use of colons `:` for the key-value assignment.

In this way, we can create a dictionary with 3 entries associated to the keys "name", "surname", "age" and, for each key, we have also saved its associated value. 

In this way, dictionaries allow us to create very flexible structures where to store information in a structured way. 

We can create an empty dictionary if we do not include any element:

In [ ]:
myemptydict = {}
print(myemptydict)

Or we use the  constructor `dict()`:

In [ ]:
mydict2 = dict(name = "Juan", surname ="PÃ©rez", age =30)
print(mydict2)

Note that now the keys are not provided as string literals and we use the symbol equal (=) instead of the symbol colon (:) for the key-value assignment.

### Accessing Keys and Values

Once we have created the dictionary, we can access a specific value through its key:

In [ ]:
mydict["name"]

Note that for accesing to the element, we call the dictionary indicating the key associated to the desired value between square brackets.

Dictionaries also have a method `.get()` that will provide the same result.

In [ ]:
mydict.get("name")

We can change the value of a specific entry by accesing with its key:

In [ ]:
mydict["name"]='Marta'
mydict.get("name")

Note the use of equals rather than colon for the assignment

If the key does not exist, an error is returned

In [ ]:
mydict["status"]

We can avoid this error, using the function get

In [ ]:
mydict.get("status") is None

If you need to access to all key-value pairs, you can use the .items() method

In [ ]:
mydict.items()

Note that this method returns a list of all key-value pairs, where each pair is returned as a tuple.

We can also access independently to either all keys or all values using the methods `.keys()` or `.values()`, respectively.

In [ ]:
mydict.keys()

In [ ]:
mydict.values()

You can loop through the elements of a dictionary by using a `for` loop. For this purpose, we only have to take into account that the returned elements are the keys of the dictionary:

In [ ]:
for key in mydict:
  print(key)

In [ ]:
# We can use these keys to return the values
for key in mydict:
  print(mydict[key])

But we can use the methods `.items` or `.values` to iterate over other elements

In [ ]:
for value in mydict.values():
  print(value)

In [ ]:
for key, value in mydict.items():
  print(key, value)

###Â Adding and removing elements

To add a new entry (key-value) to a dictionary, we can just use a new key and assign a value to it:

In [ ]:
mydict["status"] = 'single'
print(mydict)

Or you can use the method `.update()`:

In [ ]:
mydict.update({"job":'teacher'})
print(mydict)

Although, in general, this method updates the dictionary with elements from other dictionary. In case the other dictionary has new key values, these are added as new elements; otherwise, the associated values are updated. For example:

In [ ]:
mydict2 = {1: "one", 2: "three"}
dictnew = {2: "two", 3: "three"}

mydict2.update(dictnew)
print(mydict2)

To remove elements from a dictionary, we can use the following methods:
* `.pop()` or `del` (the latter is a Python function): they remove the item associated to a given key.

* `.popitem()`: it removes the last inserted element.

In [ ]:
mydict.popitem() 
print(mydict)

In [ ]:
mydict.pop("age") 
print(mydict)

In [ ]:
del mydict["name"]
print(mydict)

Or we can even use `del` to remove the complete dictionary

In [ ]:
del mydict
print(mydict)

If we only want to remove the elements of the dictionary, without deleting the variable, we can use the method `.clear`:

In [ ]:
mydict = {
  "name": "Ana",
  "surname": "GarcÃ­a",
  "age": 25
}
print(mydict)

In [ ]:
mydict.clear()
print(mydict)

**Exercises**

Let us create a dictionary with your classmate information, using the name as key and their studies (degree) as values. For this exercise, it's enough if you only include the data of 5 or 6 classmates (you can use the chat to share this information).

In [ ]:
classmates={'Maria':'Telecomunication Eng', 'Pablo': 'Biomedical Eng', 'Marta':'Biomedical Eng', 'Ana': 'Computer Science', 'Antonio' :'Telecomunication Eng'}
print(classmates)

Now solve the following exercise/questions:
* Which degree has Ana studied?
* Update your dictionary with the information of another classmate?
* List the names of all the classmates in your dictionary
* How many people studied Biomedical Engineering?

In [ ]:
# To fill in...

# User defined functions

A function is a block of organized, reusable code that is used to perform a single, related action. Functions provide better modularity and a high degree of code reusing.

As we have seen, Python gives us many built-in functions like `print()`, `len()` etc. but you can also create your own.

### Defining a function:

-  Function blocks begin with the keyword `def` followed by the function name and parentheses `( )`.

-  Any input parameters or arguments should be placed within these parentheses. You can also define parameters inside these parentheses.

-  The first statement of a function can be an optional statement $-$the documentation string of the function$-$. They usually start and end with triple quotes (`"""..."""`).

-  The code block within every function starts with a colon (``:``) and is indented.

-  The statement ``return [expression]`` exits a function, optionally passing back an expression to the caller. A return statement with no arguments is the same as ``return None``.

In [ ]:
# Example of a function:

def add_five(a):
  """This function adds the number five to its input argument."""
  return a + 5

# Let's try it out!
x = int(input('Please enter an integer: '))
print('Our add_five function is super effective at adding fives:')
print(x, '+ 5 =', add_five(x))

Now try it yourself! Write a function called `my_factorial` that computes the fatorial of a given number. If you're feeling particularly brave today, you can try writing it recursively, since Python obviously supports recursion. Remember that the factorial of 0 is 1 and the factorial of a negative number is undefined.

####Â Solution

In [ ]:
# To fill in...

Note that you can check if the result is correct by using the function `factorial` included in `math` library.